@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: whitesmoke;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
@media screen and (max-width: 650px) {
  #inner-container{
    transform: scale(0.8);
  }
}
@media screen and (max-width: 300px) {
  main{
    width: 66vh;
  }
}

input{
  display: block;
  border: 1px solid rgb(196, 193, 193);
  border-radius:0.2rem;
  width: clamp(10em,17em,100%);
  padding-left: 0.4rem;
}
@media screen and (max-width: 588px) {
  form article{
    grid-template-columns: 1fr;
  }
}

